{
	"env": {
		"browser": true,
		"es6": true
	},
	"parser": "babel-eslint",
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"parserOptions": {
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true,
			"jsx": true
		},
		"sourceType": "module"
	},
	"plugins": [
		"react"
	],
	"rules": {
		"indent": [
			"warn",
			2
		],
		"quotes": [
			"warn",
			"single"
		],
		"semi": [
			"warn",
			"never"
		],
		"no-console": 0,
		"react/prop-types": 0
	}
}